/* kto się chce bawić w środkowanie divów? */
/* no sam muszę niestety */
.currentGuess {
    -fx-background-color: rgba(240, 248, 255, .8);
    -fx-background-radius: 30px;
}

.root {
    -fx-background-color: #B49A67;
}